<%= form_for(@loan_extension_req) do |f| %>
  <% if @loan_extension_req.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_extension_req.errors.count, "error") %> prohibited this loan_extension_req from being saved:</h2>

      <ul>
      <% @loan_extension_req.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :return_date %><br>
    <%= f.date_select :return_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
