<p id="notice"><%= notice %></p>

<h1>Listing Loan Extension Reqs</h1>

<table>
  <thead>
    <tr>
      <th>Return date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_extension_reqs.each do |loan_extension_req| %>
      <tr>
        <td><%= loan_extension_req.return_date %></td>
        <td><%= loan_extension_req.status %></td>
        <td><%= link_to 'Show', loan_extension_req %></td>
        <td><%= link_to 'Edit', edit_loan_extension_req_path(loan_extension_req) %></td>
        <td><%= link_to 'Destroy', loan_extension_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan extension req', new_loan_extension_req_path %>
