<p id="notice"><%= notice %></p>

<p>
  <strong>Return date:</strong>
  <%= @loan_extension_req.return_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @loan_extension_req.status %>
</p>

<%= link_to 'Edit', edit_loan_extension_req_path(@loan_extension_req) %> |
<%= link_to 'Back', loan_extension_reqs_path %>
